
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }

  #cont_general{
    margin:auto;
    height: 90%;
	display: grid;
    justify-self: center;
	grid-template-columns: 25% 75%;
    max-width: 1400px;
	grid-template-areas: 
    "cont_izq cont_der" ;
  }

  #cont_izq {
    background-color: rgb(9, 38, 75);
    height: 100vh;
    grid-column-start: cont_izq;
	grid-column-end: cont_izq;
    padding: 30px;
}

#cont_der {
    display: grid;
	grid-template-rows: 80px auto 30px ;
    height: 100vh;
    min-width: 500px;
    grid-column-start: cont_der;
	grid-column-end: cont_der;
    padding: 30px;
    grid-template-areas: 
    "toda_cabecera"
    "area_mensajes"
    "area_busqueda" ;
}

.cont_reto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50px;
    margin-bottom: 50px;
}

.cont_channels_titulo{
    display:flex;
    justify-content: space-between;
}

.btn_añadir_canales {
    cursor:pointer;
    border:none;
    background-color:rgb(9, 38, 75);
    font-size: 20px;
    color:white;  
    margin-bottom: 10px;
}

#listaCanales{
    margin-bottom: 20px;
}

.cont_mensajes_titulo{
    display:flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 10px;
}

.btnNomCanal{
    color:white;
    font-size: 15px;
    background-color:rgb(9, 38, 75);
    border:none;
    cursor: pointer;
    transition: border-color 0.5s, background-color 0.5s, color 0.5s;
    width: 100%;
    height: 40px;
    text-align: justify;
    margin-left: 10px;
}

.btnNomCanal:hover {
  background-color: rgb(18, 64, 124);
  border-color: transparent;
}


.btn_añadir_mensajes {
    cursor:pointer;
    border:none;
    background-color:rgb(9, 38, 75);
    font-size: 20px;
    color:white; 
    margin-bottom: 10px;
}

.tabla_usuario{
    margin-bottom: 20px;
}

.cont_apps_titulo{
    display:flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn_añadir_apps {
    cursor:pointer;
    border:none;
    background-color:rgb(9, 38, 75);
    font-size: 20px;
    color:white;  
    margin-bottom: 10px;
}

.circulo_verde {
    width: 12px;
    height: 12px;
    margin-right: 15px;
    border-radius: 50%;
    background-color: rgb(21, 175, 21);
}

.circulo_ausente {
    width: 10px;
    height: 10px;
    margin-right: 15px;
    border-radius: 50%;
    background: rgb(35, 65, 117);
    border: 1px solid rgb(255, 255, 255);
}

.linea_gris {
    border: none; 
    height: 1px; 
    background:rgb(189, 189, 189);
  }

.linea_gris_2 {
    border: none; 
    height: 1px; 
    background:rgb(189, 189, 189);
    margin-top: 62px;
    margin-bottom: 30px;
  }

  .nom_cabecera {
    margin-top: 8px;
    color:black;
    font-size: 20px;
    font-weight: bolder;
    
}

#area_cabecera {
    display: flex; 
    
    justify-content: space-between;
    border-top: solid 1px grey;
    border-bottom: solid 1px grey;
}

.toda_cabecera{
  display: flex;
  align-content: center;
}

#todo_busqueda{
    margin-top: 20px;
    display: flex;
    align-content: center;
}

.nom_usuario{
    float: left;   
}


.barra_busqueda{
    display: flex;
    align-items: center;
    border: 1px solid #bebebe;
    border-radius: 15px;
    width: 250px;
    height: 40px;
    padding:7px;
    float:right;
}

.boton_busqueda {
	background-color: #ffffff;
    align-items: center;
    width: 30px;
    height: 30px;
    border:none;
    cursor:pointer;
}

.boton_busqueda > i {
	font-size: 20px;
	color: #777;
}

.input_busqueda {
	flex: 1;
	height: 30px;
    width: 150px;
	border: none;
	outline: none;
	font-size: 18px;
	padding-left: 10px;
}

#area_mensajes_nuevos{
    margin-top: 30px;
}

.iconito_usuario {
    width: 30px;
}

.tiempo {
    display:inline-block;
    color:rgb(85, 85, 85);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight:lighter;
    margin-left:10px;
}

.otros-mensaje {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.usario_style{
    font-size: 14px;
    font-weight: bolder;
    margin-bottom: 30px;
}

.cont_bottom {
    grid-column-start: area_busqueda;
	grid-column-end: area_busqueda;
}

.boton_enviar {
	background-color: #ffffff;
    width: 30px;
    height: 30px;
    border:none;
    cursor:pointer;
}

.boton_enviar > i {
	font-size: 20px;
	color: rgb(139, 139, 139);
}


.area_escritura {
    display: flex;
    align-items: center;
    border: 1px solid #bebebe;
    border-radius: 15px;
    height: 40px;
	padding: 7px;
    


}
.area_escritura > i {
	font-size: 14px;
	color: #777;
    padding: 7px;

}
.caja_escritura{
	border: none;
	outline: none;
	font-size: 16px;
    width: 94%;
    height: 24px;
	padding-left: 10px;
    align-content: center;
}

.caja_mensajes {
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: rgb(9, 38, 75);
}

.area_mensajes{
    width: 100%;
    height: 85%;
    overflow-x: hidden;
    overflow-y: scroll; 
}








/* Estilos Tipografías */

h1 {
    color:white;
    font-size:20px;
    margin-bottom: 10px;
  }
  
  h2 {
      color:white;
      font-size: 17px;
  }
  
  h3 {
      color:white;
      font-size: 15px;
      font-weight: lighter;
      width: 200px;
  }
  
  h4 {
      color:rgb(207, 207, 207);
      font-size: 12px;
      font-weight: lighter;
      width: 300px;
  }
  d1 {
      font-size: 20px;
      font-weight: bolder;
    }
    
  d2 {
      font-size: 14px;
      font-weight: bolder;
    }
  
  d3 {
      font-size: 12px;
      
    }
  
  d4 {
      color:rgb(85, 85, 85);
      font-size: 12px;
      font-weight:lighter;  
  }
  
  d5 {
      color:rgb(138, 138, 138);
      font-size: 12px;
      
    }
  
  /*.tabla_usuario{
      padding-left: 30px;
  }*/
  
  li {
      color:white;
      font-size: 15px;
      font-weight: lighter;
  }
  
  ul {
      list-style: none;
  }

  hr{
    border: solid 1px rgb(21, 66, 124);
  }
