
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }

  #main_container{
    margin:auto;
    height: 90%;
	display: grid;
    justify-self: center;
	grid-template-columns: 25% 75%;
    max-width: 1400px;
	grid-template-areas: 
    "left_container right_container" ;
}

#left_container {
    background-color: rgb(9, 38, 75);
    height: 100vh;
    grid-column-start: left_container;
	grid-column-end: left_container;
    padding: 30px;
}

.app_name{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50px;
    margin-bottom: 50px;
}

#right_container {
    display: grid;
	grid-template-rows: 80px auto 30px ;
    height: 100vh;
    min-width: 500px;
    grid-column-start: right_container;
	grid-column-end: right_container;
    padding: 30px;
    grid-template-areas: 
    "all_header"
    "messages_area"
    "area_busqueda" ;
}

.cont_channels_tittle{
    display:flex;
    justify-content: space-between;
}

#channelsList{
    margin-bottom: 20px;
}

.cont_messages_tittle{
    display:flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 10px;
}

.btn_channel_name{
    color:white;
    font-size: 15px;
    background-color:rgb(9, 38, 75);
    border:none;
    cursor: pointer;
    transition: border-color 0.5s, background-color 0.5s, color 0.5s;
    width: 100%;
    height: 40px;
    text-align: justify;
    margin-left: 10px;
}

.btn_channel_name:hover {
  background-color: rgb(18, 64, 124);
  border-color: transparent;
}

.btn_add {
    cursor:pointer;
    border:none;
    background-color:rgb(9, 38, 75);
    font-size: 20px;
    color:white; 
    margin-bottom: 10px;
}

.btn_add_start {
    cursor:pointer;
    border:none;
    font-size: 20px;
    background-color: white;
}

.btn_add_start i {
    font-size: 20px;
    color:rgb(35, 154, 223); 
    margin-left: 10px;
}

.start_sentence{
    display: flex;
    align-items: center;
}

.table_user{
    margin-bottom: 20px;
}

.apps_container_tittle{
    display:flex;
    justify-content: space-between;
    margin-top: 20px;
}

.conected_dot {
    width: 12px;
    height: 12px;
    margin-right: 15px;
    border-radius: 50%;
    background-color: rgb(21, 175, 21);
}

.disconected_dot {
    width: 10px;
    height: 10px;
    margin-right: 15px;
    border-radius: 50%;
    background: rgb(35, 65, 117);
    border: 1px solid rgb(255, 255, 255);
}

.channel_name_head {
    margin-top: 8px;
    color:black;
    font-size: 20px;
    font-weight: bolder;
}

#head_container {
    display: flex; 
    justify-content: space-between;
    border-top: solid 1px rgb(199, 199, 199);
    border-bottom: solid 1px  rgb(199, 199, 199)
}

.all_header{
  display: flex;
  align-content: center;
}

#all_search{
    margin-top: 20px;
    display: flex;
    align-content: center;
}

.search_bar{
    display: flex;
    align-items: center;
    border: 1px solid #bebebe;
    border-radius: 15px;
    width: 250px;
    height: 40px;
    padding:7px;
    float:right;
}

.search_button {
	background-color: #ffffff;
    align-items: center;
    width: 30px;
    height: 30px;
    border:none;
    cursor:pointer;
}

.search_button > i {
	font-size: 20px;
	color: #777;
}

.input_search {
	flex: 1;
	height: 30px;
    width: 150px;
	border: none;
	outline: none;
	font-size: 18px;
	padding-left: 10px;
}

#new_messages_area{
    margin-top: 30px;
}

.user_icon {
    width: 30px;
}

.time {
    display:inline-block;
    color:rgb(85, 85, 85);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight:lighter;
    margin-left:10px;
}

.other_user_message {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.cont_bottom {
    grid-column-start: area_busqueda;
	grid-column-end: area_busqueda;
}

.btn_send {
	background-color: #ffffff;
    width: 30px;
    height: 30px;
    border:none;
    cursor:pointer;
}

.btn_send > i {
	font-size: 20px;
	color: rgb(139, 139, 139);
}

.writing_area {
    display: flex;
    align-items: center;
    border: 1px solid #bebebe;
    border-radius: 15px;
    height: 40px;
	padding: 7px;
}

.writing_area > i {
	font-size: 14px;
	color: #777;
    padding: 7px;
}

.input_box{
	border: none;
	outline: none;
	font-size: 16px;
    width: 94%;
    height: 24px;
	padding-left: 10px;
    align-content: center;
}

.mesages_box {
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: rgb(9, 38, 75);
}

.messages_area{
    width: 100%;
    height: 85%;
    overflow-x: hidden;
    overflow-y: scroll; 
}

.animation{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 85%;
}

/* Estilos Tipografías */

h1 {
    color:white;
    font-size:20px;
    margin-bottom: 10px;
}

  h2 {
      color:white;
      font-size: 17px;
}

  h3 {
      color:white;
      font-size: 15px;
      font-weight: lighter;
      width: 200px;
}

  h4 {
      color:rgb(207, 207, 207);
      font-size: 12px;
      font-weight: lighter;
      width: 300px;
}

  d1 {
      font-size: 20px;
      font-weight: bolder;
}

  d2 {
      font-size: 14px;
      font-weight: bolder;
}

  d3 {
      font-size: 12px;  
}

  d4 {
      color:rgb(85, 85, 85);
      font-size: 12px;
      font-weight:lighter;  
}

  d5 {
      color:rgb(138, 138, 138);
      font-size: 12px;  
}

li {
      color:white;
      font-size: 15px;
      font-weight: lighter;
}

ul {
      list-style: none;
}

hr{
    border: solid 1px rgb(21, 66, 124);
}

iframe{
    border:none;
}

/* Break points */

@media (max-width: 769px) {
    #main_container{
        grid-template-columns: 35% 65%;
    }
}

@media (max-width: 576px) {
    #main_container{
        margin:auto;
        height: 90%;
        display: grid;
        justify-self: center;
        max-width: 1400px;
        grid-template-areas:
        "right_container right_container"
        "left_container left_container" ;
    }
    #left_container {
        height: auto;
    }
}